/* STYLE GRY */

table {
    margin: 20px auto;
    border: 5px solid rgb(156, 156, 156);
    border-spacing: 0;
    border-collapse: collapse;
    background: url('images/map.png') center/cover no-repeat;
}

td {
    width: 60px;
    height: 60px;
    /* border: 1px solid red; */
}

.player {
    background: url('images/player.png') center/cover no-repeat;
}

/* .bar {
    background-color: red;
}

.obstacle {
    background-color: black;
} */

/* STYLE MENU */

#timer {
    margin: 20px auto;
    border: 1px solid black;
    width: 200px;
    height: 50px;
    text-align: center;
    font-size: 40px;
    font-family: OCR A Std, monospace;
    display: none;
}

form {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-top: 20px;
}

form button {
    width: 200px;
    margin: 3px auto;
}

#beers {
    position: absolute;
    margin-top: 20px;
    margin-right: 20px;
    width: 400px;
    height: 50px;
    font-size: 40px;
    font-family: OCR A Std, monospace;
}