table {
    margin-left: auto;
    margin-right: auto;
    border: 1px solid black;
    border-spacing: 0;
    border-collapse: collapse;
    background: url(images/plansza.png) center/cover no-repeat;
}

td {
    width: 20px;
    height: 20px;
    /* border: 1px solid red; */
}

.player {
    background: url(images/player.png) center/cover no-repeat;
}
