body {
    background: url('images/grass.jpg');
}

table {
    margin-left: auto;
    margin-right: auto;
    border: 1px solid black;
    border-spacing: 0;
    border-collapse: collapse;
}

td {
    width: 40px;
    height: 40px;
    border: 1px solid red;
}

.player {
    background: url('images/player.png') center/cover no-repeat;
}

.bar {
    background-color: black;
}

#timer {
    font-size: 50px;
    font-size: 50px;
    border: 6px solid white;
    width: 120px;
    padding: 15px;
    color: white;
}

.stop {
    font-size: 25px;
    margin-top: 20px;
    background-color: white;
}

.start {
    font-size: 25px;
    margin-top: 20px;
    background-color: white;
}

@media (max-width: 500px) {
    .dropdown-menu {
        height: 200px;
        overflow-y: auto;
    }
}