/* TEAM */

.card {
    align-items: center;
    justify-content: center;
    margin: 30px 0;
    padding: 30px 0;
}

.card-img-top {
    width: 50%;
    object-fit: cover;
}

.contact {
    display: flex;
    align-items: center;
    justify-content: center;
}

.contact-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.contact-link {
    margin-left: 6px;
    text-decoration: none;
    color: black;
}

.contact-link:hover {
    color: black;
}